.main {
  max-width: 1169px;
  width: 1169px;
  margin: 32px auto;
  display: grid;
  align-items: center;
  overflow: hidden;

  @media screen and (max-width: 1024px) {
    padding: 0 50px;
    width: 100%;
    margin: 0 auto;
  }

  @media screen and (max-width: 500px) {
    padding: 0 25px;
    width: 100%;
  }
}
