.main {
  max-width: 1169px;
  width: 1169px;
  margin: 32px auto;
  height: 100vh;
  display: grid;
  align-items: center;
  overflow: hidden;

  @media screen and (max-width: 1000px) {
    padding: 0 50px
  }
}
