.header {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 1fr;
  align-content: space-around;
  justify-content: space-between;

  &-left {
    grid-column: 1 / 2;
    grid-row: 1;
    margin: auto 0;

    &-logo {
      font-family: Lato;
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: 32px;
      letter-spacing: 0em;
      text-align: left;

    }
  }

  &-right {
    list-style: none;
    grid-column: 5/ 5;
    grid-row: 1;
    grid-auto-flow: column;
    display: grid;
    grid-gap: 40px;

    @media screen and (max-width: 600px) {
      grid-column: auto;
      grid-gap: 20px;
    }

    &-item {
      font-family: Lato;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 32px;
      letter-spacing: 0em;
      text-align: left;

      @media screen and (max-width: 600px) {
        font-size: 12px;
      }

      &:hover {
        background-repeat: no-repeat;
        background-size: 120% 0.4em;
        background-position: 0 70%;
        transition: background-size 0.55s ease-in;
        background-image: linear-gradient(120deg, $color-primary, 0%, $color-primary),
      }
    }
  }
}
