//For Desktop responsiveness view
$desktop:1201px;
//For Tablet responsiveness view
$tablet:840px;
//For Mobile responsiveness view
$mobile:839px;

// V
// Colors
$color-primary: rgba(0, 117, 255, 0.44);
$color-secondary:#000000;
$color-tetiary: #C4C4C4; //fonts
$default-font-family:'Lato',
sans-serif;
